<?xml version="1.0" encoding="utf-8"?>


<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.google.mlkit.codelab.translate">

    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/DYSASSIST"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        >
<!--SPLASHER-->
        <activity android:name="jatin.dysassit.home.codelab.translate.Splasher" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
<!-- Landing PAGE       -->
        <activity android:name="jatin.dysassit.home.codelab.translate.LandingPage" android:screenOrientation="portrait">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
<!-- Main ACTIVITY       -->

        <activity android:name="jatin.dysassit.home.codelab.translate.MainActivity" android:screenOrientation="portrait">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
<!--SPEECH ACTIVITY-->
        <activity android:name="jatin.dysassit.home.codelab.translate.SpeechActivity">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
<!-- CONVERT ACTIVITY-->
        <activity android:name="jatin.dysassit.home.codelab.translate.ConvertText">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
<!--                                  SPACER ACTIVITY                                                                           -->
        <activity android:name="jatin.dysassit.home.codelab.translate.TextSpacer">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>



        <!-- Automatically download the text recognition model after app install -->
        <meta-data
            android:name="com.google.ml.vision.DEPENDENCIES"
            android:value="ocr" />
    </application>

</manifest>